# Environment variables
.env

# Python virtual environment
.venv

# github
.github/

# Gradio cache
.gradio/

# Python cache
**/__pycache__/

# Project data
data/logs/
data/chroma/
db/chroma/
src/db/chroma/
*.log
*.db
*.sqlite
*.sqlite3
*.pytest_cache

# backup
src_backup
settings.json

# tests
src/test_early_main
*.html

# docs
report.md
code_analysis.txt
repomix-output-src.zip.xml
.qodo
