# Environment variables
.env
.venv

# github
.github/
.vscode/
.mcp

.gradio/

# Python cache
**/__pycache__/
*.pytest_cache

# Project data
data/chroma
data/logs
*.log
*.db

# docs
report.md
migration_plan.md

.repomix/
repomix/
